<div class="achievement">
  <div class="container">
    <ul class="achievement__list">
      <li class="achievement__item">
        <svg class="achievement__icon">
          <use xlink:href="img/sprite.svg#bag"></use>
        </svg>
        <div class="achievement__name">
          Выполненных работ
        </div>
        <span class="achievement__num">
          56
        </span>
      </li>
      <li class="achievement__item">
        <svg class="achievement__icon">
          <use xlink:href="img/sprite.svg#people"></use>
        </svg>
        <div class="achievement__name">
          Довольных клиентов
        </div>
        <span class="achievement__num">
          23
        </span>
      </li>
      <li class="achievement__item">
        <svg class="achievement__icon">
          <use xlink:href="img/sprite.svg#coffee"></use>
        </svg>
        <div class="achievement__name">
          Выпито чашек кофе
        </div>
        <span class="achievement__num">
          477
        </span>
      </li>
      <li class="achievement__item">
        <svg class="achievement__icon">
          <use xlink:href="img/sprite.svg#review"></use>
        </svg>
        <div class="achievement__name">
          Всего отзывов
        </div>
        <span class="achievement__num">
          48
        </span>
      </li>

    </ul>
  </div>
</div>
