<header class="header" style="background-image: url(../img/bg-header.jpg);">
  <div class="container">
    <div class="header__top">

      <a href="#" class="logo">
        <img src="img/logo.png" alt="Логотип" class="logo__img">
      </a>

      <nav class="menu">
        <button class="menu__burger burger">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Обо мне</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Навыки</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Услуги</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Портфолио</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Отзывы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="header__info">
      <h1 class="header__title">Привет, я Иван Иванов
        <span>frontend-
          разработчик</span>
      </h1>
    </div>
    <button class="header__btn">смотреть работы
    </button>
  </div>
</header>
