<section class="product">
  <div class="container">
    <div class="product__content">

      <h2 class="product__title title">
        Мои работы
      </h2>

      <div class="product__filters nav-filter">
        <button class="nav-filter__btn" data-filter="all">Все работы</button>
        <button class="nav-filter__btn" data-filter=".category-a">Лендинги</button>
        <button class="nav-filter__btn" data-filter=".category-b">Корпоративные</button>
        <button class="nav-filter__btn" data-filter=".category-c">E-commerce</button>
      </div>

      <div class="product__items">
        <article class="product-cart mix category-a">
          <img class="product-cart__img" src="img/product/img1.jpg" alt="природа">
        </article>
        <article class="product-cart mix category-a">
          <img class="product-cart__img" src="img/product/img2.jpg" alt="природа">
        </article>
        <article class="product-cart mix category-b">
          <img class="product-cart__img" src="img/product/img3.jpg" alt="природа">
        </article>
        <article class="product-cart mix category-b">
          <img class="product-cart__img" src="img/product/img4.jpg" alt="природа">
        </article>
        <article class="product-cart mix category-c">
          <img class="product-cart__img" src="img/product/img5.jpg" alt="природа">
        </article>
        <article class="product-cart mix category-c">
          <img class="product-cart__img" src="img/product/img6.jpg" alt="природа">
        </article>
      </div>

      <button class="product__btn btn">Загрузить еще</button>
    </div>
  </div>
</section>
