<section class="reviews">
  <div class="container">

    <h2 class="reviews__title title">
      Отзывы клиентов
    </h2>

    <div class="reviews__inner">

      <div class="reviews__content">
        <img src="img/mark.jpg" alt="автор" class="reviews__img">
        <span class="reviews__author">
          Марк Цукерберг
        </span>
        <blockquote class="reviews__text">
          Фантастика! Я всецело доволен
          работой этого специалиста.
          Быстро и качественно. Рекомендую!
        </blockquote>
      </div>

      <div class="reviews__video" style="background-image: url('../img/bg-video.jpg');">
        <a class="reviews__link" data-fancybox href="https://www.youtube.com/watch?v=YZ4W964hocA">
          <svg class="reviews__item">
            <use xlink:href="img/sprite.svg#play"></use>
          </svg>
        </a>
      </div>

    </div>
  </div>
</section>
